nav {
  padding: 100px;
  background: #555;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
.logo {
  color: white;
  font-size: 25px;
  font-weight: 800px;
  font-family: 'poppins',Sans-Serif;
  letter-spacing: 2px;
  margin: 0;
}
nav,ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  }
.menu,a,li {
  text-decoration: none;
  font-weight: bold;
  padding: 9px 12px;
}
a {
  color: white;
}
.menu,a {
  background: #555;
  border-radius: 10px;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  .menu {
    flex-direction: column;
    gap: 2px;
  }
